@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Delius&family=Sanchez&display=swap');


h1 {
  font-family: "Berkshire Swash", "Arial", sans-serif;
  font-size: 60px;
  color: rgb(2,93,140);
  text-align: center;
}

body {
  font-family: "Sanchez";
  max-width: 960px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  background: rgba(214, 242, 246, 1.0);
  background: rgba(214, 242, 246, 1.0);
  background: rgba(214, 242, 246, 1.0);
  background: rgba(214, 242, 246, 1.0);
  background: rgba(214, 242, 246, 1.0);
  background: rgba(160, 230, 238, 1.0);
  background: rgba(187, 234, 240, 1.0);
  background: rgba(187, 234, 240, 1.0);
  background: rgba(187, 234, 240, 1.0);
  background: -webkit-linear-gradient(top right, rgba(187, 234, 240, 1.0), rgba(255, 255, 255, 1.0));
  background: -moz-linear-gradient(top right, rgba(187, 234, 240, 1.0), rgba(255, 255, 255, 1.0));
  background: linear-gradient(to bottom left, rgba(187, 234, 240, 1.0), rgba(255, 255, 255, 1.0));
}

header {
  background-color: rgb(143,181,158);
}

h1 {
  color: rgb(245,245,245);
}

nav ul {
  padding-left: 0;
  list-style-type: none;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(245,245,245);
  border-style: dotted;
  border-width: 2px;
  padding-left: 10px;
}

nav ul {
  padding-right: 10px;
}

a {
  color: rgb(41,182,246);
}

a:link {
  color: rgb(38,166,154);
  text-decoration: none;
}

a:visited {
  color: rgb(42,143,189);
}

a:hover {
  color: rgb(77,16,145);
}

a:active {
  background-color: rgb(252,228,236);
}

#welcome-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-position: center;
  margin-bottom: 20px;
  background-image: url("../images/flower-ring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  position: relative;
}

#welcome {
  grid-column: 1 / 3;
  grid-row-start: 2;
  text-align: center;
  font-size: 50px;
}

#welcome-section p {
  max-width: 500px;
  grid-column: 1 / 3;
  grid-row-start: 3;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}

#home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(245,245,245);
  border-style: double;
  margin-bottom: 20px;
}

#frolic figure {
  margin: 20px;
}

#frolic p {
  margin: 20px;
}

#about aside figure {
  margin-right: 20px;
  margin-left: 20px;
}

article figure {
  margin: 20px;
}

#gift aside figure {
  margin-left: 0;
}

h2 {
  text-align: center;
}
#about {
  display: grid;
  grid-template-columns: 200px 300px;
  justify-content: center;
  background-color: rgb(245,245,245);
  border-style: double;
}

#about h2 {
  grid-column: 1 / -1;
}

#about aside {
  grid-row-start: 2;
}

#frolic-video p {
  grid-column-start: 2;
}

#lets-frolic-pg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px 200px 1fr;
}

#lets-frolic-pg img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#lets-frolic-pg article {
  margin: 10px;
  margin-top: 0;
}
#frolic-video aside video {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#frolic-video aside p {
  text-align: center;
  font-size: 14px;
}

#frolic-video p {
  margin-left: 10px;
  margin-right: 10px;
}

.ignite {
display: grid;
grid-template-columns: 250px 1fr;
grid-template-rows: 80px 60px 80px 1fr;
}

.ignite p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.i-do {
  display: grid;
  grid-template-columns: 261px 261px 1fr;
  grid-template-rows: 80px 1fr;
}

.i-do h2 {
  grid-column: 1 / -1;
}

.i-do h2 {
  text-align: left;
  background-color: rgb(245,245,245);
  padding-left: 9px;
}


.i-do aside figure {
  margin-left: 10px;
  margin-right: 10px;
}

#journal,
#love-box {
  margin-left: 30px;
}

.i-do aside figure figcaption {
  font-size: 14px;
}


.layout {
display: grid;
grid-template-columns: 260px 1fr;
grid-template-rows: 100px 130px 100px 100px 86px;
}

.layout p {
  margin-bottom: 0;
}

section p {
  grid-column: 2 / 3;
}

#me {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  margin-left: 40px;
}

.layout aside {
  grid-row-start: 1;
}

aside video {
  width: 500px
}

footer {
  font-size: 12px;
  margin-left: 0px;
  margin-right: 10px;
  padding-left: 5px;
  background-color: rgb(225,245,254);
}

.simple img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.simple p {
  margin-left: 10px;
}

#my-food {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#my-food h2 {
  grid-column: 1 / -1;
  background-color: rgb(245,245,245);
  padding-left: 9px;
}

#my-food aside figure figcaption {
  font-size: 14px;
}

.list-tips h2 {
  background-color: rgb(245,245,245);
  padding-left: 9px;
}

.list-tips p {
  margin-left: 10px;
  margin-bottom: 5px;
}

.list-tips ul li {
  list-style-type: circle;
}

.list-tips ul {
  margin-top: 0;
}

#bucket-list {
  font-weight: bold;
}

article p {
  margin-left: 10px;
  margin-right: 10px;
}
